.suchgive-content {
	padding-top: 50px;
}

.captcha {
	padding: 10px;
}

.left-side, .right-side {
	margin: 10px;
	padding: 10px;
	background: #F2F0EA;
}

.left-side {
	-webkit-box-shadow: 10px 0px 4px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 0px 4px -6px rgba(0,0,0,0.75);
	box-shadow: 10px 0px 4px -6px rgba(0,0,0,0.75);
}

.right-side {
	-webkit-box-shadow: -10px 0px 4px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: -10px 0px 4px -6px rgba(0,0,0,0.75);
	box-shadow: -10px 0px 4px -6px rgba(0,0,0,0.75);
}

.right-side p, .right-side h1, .right-side h2 {
	text-align: right;
}

.left-side p, .left-side h1, .left-side h2 {
	text-align: left;
}

.color-doge {
	background: #F2E9C6;
}

.padded-description {
	padding: 20px;
}

.center {
	display: block;
    margin-left: auto;
    margin-right: auto
}

.countdown-clock-container {
	padding-top: 91px;
}

.countdown-clock {
	padding: 10px;
	background-color: rgba(255,255,255,0.5);;
	border-radius: 30px;
}

.moon-scene {
    height: 750px;
}

.the-moon {
    position: relative;
    /*margin: 0 auto;*/
    background-image: url("/images/moon.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 512px;
    height: 512px;
    z-index: 100;
}

.the-earth {
    position: relative;
    background-image: url("/images/earth.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 512px;
    height: 512px;
    z-index: 80;
}

.reward-banner {
    position: relative;
    text-align: center;
    z-index: 101;
}

.spaceship {
    position: relative;
    background-image: url("/images/spaceship.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 256px;
    height: 512px;
    z-index: 90;
}

.percent-next-to-spaceship {
    position: relative;
    z-index: 91;
}

