.suchgive-content {
    padding-top: 50px;
    padding-bottom: 10px;
}

.suchgive-content-padded {
    padding: 16px;
}

.doge-address-small {
    font-family: monospace;
    border: 0;
    width: 100%;
}

.doge-address {
    font-family: monospace;
    border: 0;
    width: 100%;
    line-height: 50px;
    text-align: left;
}

.doge-address-right {
    text-align: right;
}

.inner-shadow {
    box-shadow: inset 0 0 10px #000;
}

.outer-shadow {
    box-shadow: 0 0 10px #000;
}

.modal-of-donate {
    margin-top: 16px;
    box-shadow: 0 0 10px #FFF;
    background-color: #FFF;
    border: 1px solid gray;
    padding: 10px;

    display: none;
}

.modal-exit-bar {
    width: 100%;
    height: 30px;
    background-color: #EEE;
}

.modal-get-out-now-pls {
    float: right;
    cursor: pointer;
    padding: 5px;
}

.captcha {
    padding: 10px;
}

.padded-description {
    padding: 20px;
}

.center {
    display: block;
    margin: 0 auto;
}

.scene-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.moon-scene {
    height: 150px;
    background-color: #000;
    position: relative;
}

.the-moon {
    position: relative;
    margin: 0 auto;
    background-image: url("/images/moon.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 128px;
    height: 128px;
    top: -32px;
    z-index: 100;
}

.reward-banner {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 128px;
    width: 128px;
    z-index: 101;
}

.reward-banner-text {
    text-align: center;
    font-size: 12pt;
    font-family: 'Comic Sans MS', cursive;
}

.the-earth {
    position: relative;
    margin: 0 auto;
    background-image: url("/images/earth.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    top: 128px;
    z-index: 80;
}

.spaceship {
    position: relative;
    background-image: url("/images/spaceship.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 128px;
    width: 32px;
    height: 64px;
    z-index: 70;
    -webkit-backface-visibility: hidden;
    display: none;
}

.no-size {
    width: 0;
    height: 0;
}

.funding-goal-box {
    position: relative;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    background-color: lightgray;
    width: 100%;
    height: 80px;
    z-index: 610;
}

.funding-goal-label {
    margin-bottom: 0;
}

.funding-goal-amount {
    margin-top: 5px;
}

.charity-description {
    position: relative;
    z-index: 600;
    padding-bottom: 20px;
}

.charity-description-right {
    text-align: right;
}

.charity-vertical-divider {
    display: none;
    margin: 0 auto;
    width: 0;
    height: 300px;
    border: 1px dashed lightgray;
}

.charity-description-heading {
    width: 100%;
}

.charity-description-heading-right {
    margin-left: 0%;
    float: right;
}

.charity-description-text {
    position: relative;
    width: 100%;
    margin-right: 0;
    backface-visibility: hidden;
}

.charity-description-text-right {
    float: right;
    width: 100%;
}

.specialfix {
    display: inline-block;
    width: 100%;
    height: 0;
}

.charity-mini-info {
    position: absolute;
    bottom: 0px;
    padding: 15px;
    color: #EEE;
}

.left-charity-mini-info {
    float: left;
    left: 0px;
}

.left-charity-mini-info-percent {

}

.left-charity-mini-info-amount {
    margin-bottom: 0;
}

.right-charity-mini-info {
    float: right;
    right: 0px;
    text-align: right;
}

.right-charity-mini-info-percent {

}

.right-charity-mini-info-amount {
    margin-bottom: 0;
}

.media-query-spaceship {
    display: none;
    width: 0;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .media-query-spaceship {
        width: 768px;
    }

    .moon-scene {
        height: 150px;
    }

    .the-moon {
        width: 128px;
        height: 128px;
        top: -32px;
    }

    .reward-banner {
        height: 128px;
        width: 128px;
    }

    .reward-banner-text {
        font-size: 12pt;
    }

    .the-earth {
        width: 16px;
        height: 16px;
        top: 128px;
    }

    .form-control {
        width: 128px !important;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .media-query-spaceship {
        height: 300px;
        width: 256px;
        margin-left: -124px;
        margin-right: 124px;
    }

    .charity-description-heading {
        width: 75%;
    }

    .charity-description-heading-right {
        margin-left: 25%;
    }

    .charity-description-text {
        width: 75%;
        margin-right: 25%;
    }

    .charity-description-text-right {
        margin-left: 25%;
        margin-right: 0;
    }

    .charity-vertical-divider {
        display: block;
    }

    .moon-scene {
        height: 320px;
    }

    .the-moon {
        width: 256px;
        height: 256px;
        top: -64px;
    }

    .reward-banner {
        height: 256px;
        width: 256px;
    }

    .reward-banner-text {
        font-size: 20pt;
    }

    .the-earth {
        width: 32px;
        height: 32px;
        top: 256px;
    }

    .spaceship {
        margin: 0 auto;
        width: 23px;
        height: 46px;
        display: block;
    }

    .form-control {
        width: auto !important;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .media-query-spaceship {
        height: 300px;
        width: 380px;
        margin-left: -180px;
        margin-right: 180px;
    }

    .funding-goal-box {
        width: 33%;
        height: 80px;
        margin-bottom: -80px;
    }

    .moon-scene {
        height: 460px;
    }

    .the-moon {
        width: 380px;
        height: 380px;
        top: -80px;
    }

    .reward-banner {
        width: 380px;
        height: 380px;
    }

    .reward-banner-text {
        font-size: 40pt;
    }

    .the-earth {
        width: 45px;
        height: 45px;
        top: 380px;
    }

    .spaceship {
        margin: 0 auto;
        width: 32px;
        height: 64px;
        display: block;
    }

    .doge-address {
        font-size: 14pt;
    }
}